
<div class="container p-3">
  <% @articles.each do |article| %>
  <div class="card-product mb-2">
    <div class="card-product-infos">
      <h2><%= article.title %></h2>
      <p><%= article.content %></p>
    </div>
  </div>
  <% end %>
</div>
