<div class="container p-3">
  <h1 class="mb-3"><%= @article.title %></h1>
  <p class="mb-3"><%= @article.content %></p>
  <%= link_to "Edit", edit_article_path, class: "btn btn-secondary" %>
  <%= link_to "Delete", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-warning" %>
</div>
