<div class="container p-3">


  <div class="d-flex justify-content-start align-items-center gap-3">
    <h1 class="mb-3"><%= @article.title %></h1>
    <%= link_to "Edit", edit_article_path, class: "btn btn-secondary" %>
    <%= link_to "Delete", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-warning" %>
  </div>
  <p class="mb-3"><%= @article.content %></p>
</div>
